html, body {padding: 0; margin: 0;}
html {background-color: #ccc;}
body {width: 320px; background-color: white; margin: 0 auto; min-height: 400px;}

h1,h2,h3,h4,h5,h6,p,li {font-size: 14pt;}

#infobox {background-color: green; color: white;}

h1 a {color: white !important;}

h1 {color: white; background-color: navy; text-align: center; font-size: 24px;}

#content {padding: 10px; padding-bottom: 100px;}

#menu {margin: 0; padding: 0; list-style: none; text-align: center; width: 100%;x}

#menu li {display: inline;}

#menu li a{padding: 10px;}