<h3><label for='username'>Username</label></h3>
<div><input id='username' name='username' type='text' value='{$username}' maxlength='64' /></div>
<h3><label for='password'>Password</label></h3>
<div><input id='password' name='password' type='password' value=''/></div>
<p><input type='submit' name='login' value='Login' />
<input name="return" type="hidden" value="{$return|htmlentities}" /></p>
