<ul id="menu">
{if $logged_in}
	<li><a href='{$base_url}/login.php?action=logout'>Logout</a></li>
{else}
	<li><a href='{$base_url}/login.php'>Login</a></li>
	<li><a href='{$base_url}/register.php'>Register</a></li>
{/if}
</ul>
